#
# Git attributes for Unity projects
#
# Compiled by the GameCI community - https://game.ci
#
# Latest version at https://gist.github.com/webbertakken/ff250a0d5e59a8aae961c2e509c07fbc
#

# Ensure that text files that any contributor introduces to the repository have their line endings normalized
* text=auto

# Increase probability of success for merging files with specific extensions
*.cs diff=csharp

